@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #222222;
  background-color: #ffffff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page__body {
  margin: 0 auto;
}
.header {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .header {
    min-width: 704px;
  }
}
@media (min-width: 1440px) {
  .header {
    min-width: 1220px;
  }
}
@media (min-width: 768px) {
  .header__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
    padding-top: 25px;
  }
}
@media (min-width: 1440px) {
  .header__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    padding-top: 55px;
  }
}
@media (min-width: 768px) {
  .header__navigation {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .header__navigation {
    min-height: 59px;
  }
}
.header__navigation-logo {
  display: flex;
  align-items: center;
}
.header__navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__navigation-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 320px;
    padding-top: 13px;
    padding-bottom: 14px;
  }
}
.header__navigation-button {
  display: grid;
  place-items: center;
  height: 24px;
  width: 24px;
  border: none;
  background-image: url("../img/nav-button-open.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-color: transparent;
}
@media (min-width: 768px) {
  .header__navigation-button {
    display: none;
  }
}
.main {
  padding-top: 27px;
}
@media (min-width: 768px) {
  .main {
    padding-top: 65px;
  }
}
@media (min-width: 1440px) {
  .main {
    padding-top: 74px;
  }
}
@media (min-width: 1440px) {
  .main--page {
    padding-top: 110px;
  }
}
.logo-icon__container {
  margin-right: 56px;
}
@media (min-width: 768px) {
  .logo-icon__container {
    margin-right: 13px;
  }
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 320px;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
  }
}
.navigation__link {
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 66px;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}
.navigation__link--last-item {
  border-bottom: 1px solid #e6e6e6;
}
.navigation__link--catalog-border {
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .navigation__link {
    min-width: max-content;
    min-height: min-content;
    border: none;
    padding: 0 0 10px;
  }
}
.promo__container {
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (min-width: 768px) {
  .promo__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .promo__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    flex-direction: row;
  }
}
.promo__text-description {
  text-align: center;
}
@media (min-width: 768px) {
  .promo__text-description {
    max-width: 416px;
    text-align: left;
    margin-left: 90px;
    order: 1;
  }
}
@media (min-width: 1440px) {
  .promo__text-description {
    margin-left: 80px;
  }
}
.promo__headline {
  margin: 0 0 25px;
  padding: 0;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__headline {
    margin: 0 0 40px;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
.promo__catchphrase {
  margin: 0 0 29px;
  padding: 0;
  color: #000000;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__catchphrase {
    margin: 0 0 50px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}
.promo__product-photo-container {
  margin: 0;
  padding: 0 0 3px;
}
@media (min-width: 768px) {
  .promo__product-photo-container {
    min-height: 609px;
    order: 2;
    margin-top: -83px;
  }
}
@media (min-width: 1440px) {
  .promo__product-photo-container {
    margin-top: -81px;
    margin-left: -57px;
    min-height: 499px;
    min-width: 522px;
    order: 1;
  }
}
.promo__product-photo {
  display: block;
}
.promo__button {
  margin: 0;
  padding: 5px;
}
@media (min-width: 768px) {
  .promo__button {
    position: relative;
    max-width: 244px;
    margin-left: 90px;
    order: 1;
  }
}
@media (min-width: 1440px) {
  .promo__button {
    margin-top: -186px;
    min-width: 244px;
    margin-left: 80px;
  }
}
.button {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #68b738;
  height: 40px;
  display: grid;
  place-items: center;
  border: none;
}
.button--show-all {
  color: #444444;
  background-color: #f2f2f2;
}
.programms {
  padding-top: 20px;
}
.programms__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .programms__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .programms__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
  }
}
.programms__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .programms__list {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .programms__list {
    flex-direction: row;
    gap: 80px;
  }
}
.programm {
  background-color: #f2f2f2;
  padding: 30px 20px 20px;
}
@media (min-width: 768px) {
  .programm {
    padding: 77px 63px 53px 52px;
    min-height: 372px;
  }
}
@media (min-width: 1440px) {
  .programm {
    min-height: 374px;
    min-width: 570px;
  }
}
.programm__title {
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  margin: 0 0 29px;
  padding: 0 0 0 70px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .programm__title {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .programm__title {
    margin: 0 0 73px;
    padding: 0 0 0 162px;
  }
}
.programm__description {
  font-family: "Lato", sans-serif;
  margin: 0 0 40px;
  padding: 0;
}
@media (min-width: 768px) {
  .programm__description {
    max-width: 342px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 48px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .programm__description {
    margin: 0 0 23px;
    max-width: 460px;
  }
}
.to-catalog-link {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px 47px 4px 0;
}
@media (min-width: 768px) {
  .to-catalog-link {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    padding: 4px 57px 4px 0;
  }
}
.working-principle {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .working-principle {
    padding-top: 45px;
  }
}
@media (min-width: 1440px) {
  .working-principle {
    padding-top: 71px;
  }
}
.working-principle__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .working-principle__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .working-principle__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
  }
}
.working-principle__title {
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;
  padding: 0;
}
@media (min-width: 768px) {
  .working-principle__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 32px;
    padding: 0;
  }
}
.working-principle__list {
  list-style: none;
  margin: 0;
  padding: 0 0 49px;
  display: grid;
  gap: 24px;
}
@media (min-width: 768px) {
  .working-principle__list {
    padding-bottom: 47px;
    grid-template-columns: repeat(2, 246px);
    row-gap: 37px;
    column-gap: 137px;
  }
}
@media (min-width: 1440px) {
  .working-principle__list {
    grid-template-columns: repeat(4, 246px);
    column-gap: 79px;
  }
}
.working-principle__item {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0 0 0 80px;
}
@media (min-width: 768px) {
  .working-principle__item {
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    min-height: 280px;
    margin: 0;
    padding: 151px 0 57px;
  }
}
.example {
  background-color: #eaeaea;
  padding: 25px 0 0;
}
@media (min-width: 768px) {
  .example {
    padding: 45px 0 0;
  }
}
@media (min-width: 1440px) {
  .example {
    padding: 0;
  }
}
.example__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .example__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .example__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .example__text {
    padding-bottom: 75px;
  }
}
.example__title {
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;
  padding: 0;
}
@media (min-width: 768px) {
  .example__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 60px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin: 0 0 146px;
  }
}
.example__description {
  font-family: "Lato", sans-serif;
  color: #444444;
  margin: 0;
  padding: 0 0 20px;
}
@media (min-width: 768px) {
  .example__description {
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 55px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    max-width: 436px;
  }
}
.example__slider {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .example__slider {
    padding-bottom: 100px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .example__slider {
    padding-bottom: 75px;
  }
}
.result {
  text-align: center;
}
@media (min-width: 768px) {
  .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .result {
    max-width: 436px;
    flex-wrap: wrap;
  }
}
.result__highlights {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .result__highlights {
    margin: 0;
  }
}
.result__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 124px;
  min-height: 70px;
}
@media (min-width: 768px) {
  .result__item {
    min-width: 162px;
    min-height: 77px;
  }
}
@media (min-width: 1440px) {
  .result__item {
    margin-bottom: 55px;
  }
}
.result__mark {
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  margin: 15px 0 0;
  padding: 0;
}
@media (min-width: 768px) {
  .result__mark {
    color: #000000;
    font-size: 30px;
    line-height: 37px;
  }
}
.result__description {
  max-width: 80px;
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .result__description {
    max-width: 125px;
    color: #444444;
    font-size: 14px;
    line-height: 14px;
  }
}
.result__summary {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0;
}
@media (min-width: 768px) {
  .result__summary {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    max-width: 175px;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .result__summary {
    max-width: 374px;
  }
}
@media (min-width: 768px) {
  .result__summary-count {
    display: inline-block;
    margin-top: 9px;
  }
}
@media (min-width: 1440px) {
  .result__summary-count {
    margin-left: 63px;
  }
}
@media (min-width: 768px) {
  .before-after-slider {
    min-height: 512px;
  }
}
.partnership {
  padding: 26px 0;
}
@media (min-width: 768px) {
  .partnership {
    padding: 60px 0;
  }
}
.partnership--catalog {
  background-color: #f2f2f2;
}
.partnership--form {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .partnership {
    left: 110px;
    transform: translateY(50%);
    background-color: #ffffff;
    position: absolute;
    padding: 0;
    max-width: 565px;
  }
}
.partnership__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .partnership__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .partnership__container {
    min-width: 570px;
    padding: 60px 80px;
  }
}
.partnership__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .partnership__content {
    padding: 0 40px;
    min-height: 80px;
  }
}
@media (min-width: 1440px) {
  .partnership__content {
    padding: 0;
  }
}
.partnership__content-title {
  margin: 0;
  padding: 0;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 140px;
}
@media (min-width: 768px) {
  .partnership__content-title {
    max-width: 167px;
    color: #111111;
    font-size: 20px;
    line-height: 26px;
  }
}
.partnership__content-address {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  max-width: 140px;
}
@media (min-width: 768px) {
  .partnership__content-address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 160px;
  }
}
@media (min-width: 1440px) {
  .partnership__content-address {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .partnership__content-address-city {
    margin-top: 5px;
  }
}
.location__container {
  margin: 0 auto;
  /* max-width: 320px; */
  /* @media (min-width: @tablet-width) {
    max-width: 768px;
  } */
  /* @media (min-width: @desktop-width) {
    max-width: 1440px;
  } */
}
.location__map-image {
  width: 100%;
  display: block;
  min-height: 362px;
}
@media (min-width: 768px) {
  .location__map-image {
    min-height: 400px;
  }
}
.footer {
  background-color: #f2f2f2;
}
.footer__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
@media (min-width: 1440px) {
  .footer__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
.footer__logo {
  margin: 40px 0 20px;
}
@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}
.footer__social {
  margin: 20px 0;
  padding: 0;
}
@media (min-width: 768px) {
  .footer__social {
    margin: 0;
    padding: 0;
  }
}
.footer__developer {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__developer {
    margin: 0;
    padding: 0;
    min-height: 37px;
  }
}
.social-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 28px);
  gap: 24px;
  align-items: center;
}
.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .developer {
    min-width: 168px;
  }
}
.developer-name__contariner {
  margin-left: 5px;
}
.developer-name {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.catalog-page__body {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .catalog__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .catalog__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
  }
}
.catalog__title {
  max-width: 320px;
  margin: 0 auto 40px;
  padding: 0 0 0 20px;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .catalog__title {
    max-width: 705px;
    margin: 0 0 84px;
    padding: 0;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}
.catalog__item {
  border-top: 1px solid #ebebeb;
}
.catalog__item--last-item {
  margin-top: 82px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog__item {
    border: none;
  }
}
.product {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .product {
    min-height: 511px;
    background-image: linear-gradient(to top, #f2f2f2 430px, #ffffff 430px);
  }
}
.product__container {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 20px 25px;
}
@media (min-width: 768px) {
  .product__container {
    max-width: 324px;
    padding: 0 37px 40px;
  }
}
@media (min-width: 1440px) {
  .product__container {
    max-width: 245px;
    padding: 0 38px 40px;
  }
}
@media (min-width: 768px) {
  .product__container--show-more-card {
    outline: 2px solid #f2f2f2;
    padding: 160px 37px 40px;
  }
}
.product__container-content {
  display: flex;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .product__container-content {
    min-width: 250px;
    flex-direction: column;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .product__container-content {
    min-width: 169px;
  }
}
.product__photo-container {
  display: grid;
  place-items: center;
  min-width: 140px;
}
@media (min-width: 768px) {
  .product__photo-container {
    min-width: 200px;
    min-height: 210px;
    margin: 10px 0 22px;
  }
}
@media (min-width: 1440px) {
  .product__photo-container {
    min-width: 169px;
  }
}
.product__title {
  margin: 0 0 14px;
  padding: 0;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  max-width: 80px;
}
@media (min-width: 768px) {
  .product__title {
    max-width: 135px;
    margin: 0 auto 21px;
    color: #444444;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
.product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .product__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
.product__option {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
  min-width: 140px;
}
@media (min-width: 768px) {
  .product__option {
    padding: 0 0 5px;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.product__option-title {
  max-width: 70px;
  justify-self: start;
}
.product__option-text {
  max-width: 70px;
  justify-self: end;
}
@media (min-width: 768px) {
  .show-more-card {
    min-height: 429px;
  }
}
.show-more-card__title {
  margin: 53px 0 8px;
  padding: 0;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .show-more-card__title {
    color: #111111;
    font-size: 20px;
    line-height: 24px;
    max-width: 140px;
    margin: 0 auto 23px;
  }
}
.show-more-card__description {
  font-family: "Lato", sans-serif;
  margin: 0 0 21px;
  padding: 0;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .show-more-card__description {
    color: #111111;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto 82px;
    max-width: 170px;
  }
}
.optional-products {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .optional-products {
    padding-top: 70px;
  }
}
@media (min-width: 1440px) {
  .optional-products {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    padding-top: 76px;
    padding-bottom: 87px;
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 80px;
  }
}
.optional-products__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .optional-products__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .optional-products__container {
    margin: 0;
    padding: 0;
    max-width: 896px;
  }
}
.optional-products__title {
  margin: 0 0 36px;
  padding: 0;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .optional-products__title {
    margin: 0 40px 80px;
  }
}
@media (min-width: 1440px) {
  .optional-products__title {
    margin: 0 0 80px;
  }
}
.optional-products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.optional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .optional-products__item {
    padding: 26px 38px;
    display: grid;
    grid-template-columns: repeat(2, 280px);
    column-gap: 72px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .optional-products__item {
    padding: 15px 0 16px;
    grid-template-columns: 305px 305px 245px;
    column-gap: 20px;
  }
}
.optional-products__item--last-item {
  border-bottom: 1px solid #cdcdcd;
}
.optional-products__name {
  margin: 0 0 13px;
  padding: 0;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .optional-products__name {
    margin: 0;
  }
}
.optional-products__description {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 15px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
}
@media (min-width: 768px) {
  .optional-products__description {
    display: grid;
    grid-template-columns: 192px 78px;
    gap: 10px;
  }
}
@media (min-width: 1440px) {
  .optional-products__description {
    margin: 0;
    grid-template-columns: 204px 60px;
    column-gap: 20px;
  }
}
@media (min-width: 768px) {
  .optional-products__description-title {
    justify-self: end;
  }
}
@media (min-width: 1440px) {
  .optional-products__description-title {
    justify-self: start;
  }
}
.optional-products__description-text {
  justify-self: end;
}
.optional-products__button {
  grid-column: 1 / 3;
}
@media (min-width: 1440px) {
  .optional-products__button {
    grid-column: 3 / 4;
  }
}
.gift {
  padding: 35px 0 35px;
}
@media (min-width: 1440px) {
  .gift {
    padding: 0;
    align-self: end;
  }
}
.gift__container {
  position: relative;
  min-height: 290px;
  max-width: 280px;
  margin: 0 auto;
  background-color: rgba(104, 183, 56, 0.85);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .gift__container {
    min-height: 200px;
    min-width: 707px;
  }
}
@media (min-width: 1440px) {
  .gift__container {
    min-height: 288px;
    min-width: 245px;
  }
}
.gift__image-container {
  position: absolute;
  background-image: url("../img/cat-case.jpg");
  width: 100%;
  height: 100%;
  opacity: 0.15;
}
.gift__description {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  max-width: 160px;
  text-align: center;
  position: absolute;
  bottom: 43px;
}
.form__body {
  margin: 0 auto;
}
.form__fieldset-general-wrapper {
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .form__fieldset-general-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    margin-bottom: 70px;
  }
}
.form__fieldset {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  padding: 0 20px;
  gap: 14px;
  display: grid;
}
.form__fieldset--general {
  padding-bottom: 24px;
}
.form__fieldset--programm {
  padding: 25px 20px 19px;
}
.form__fieldset--contacts {
  margin-top: 26px;
  padding-bottom: 24px;
}
.form__fieldset--comment {
  margin-top: 24px;
  padding-bottom: 23px;
  border: none;
}
.form__fieldset--optional {
  padding-bottom: 34px;
  border: none;
}
@media (min-width: 768px) {
  .form__fieldset {
    gap: 20px;
    border: none;
    margin: 0;
    padding: 0;
  }
  .form__fieldset--general {
    margin-bottom: 72px;
  }
  .form__fieldset--programm {
    border: 1px solid #e7e7e7;
    padding: 23px 27px 27px;
    gap: 12px;
  }
  .form__fieldset--contacts {
    margin-top: 65px;
  }
  .form__fieldset--comment {
    margin-top: 65px;
  }
  .form__fieldset--optional {
    margin-top: 65px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--general {
    margin-bottom: 0;
  }
  .form__fieldset--programm {
    border: 1px solid #e7e7e7;
  }
  .form__fieldset--contacts {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    margin-top: 65px;
  }
  .form__fieldset--comment {
    margin-top: 65px;
  }
  .form__fieldset--optional {
    margin-top: 65px;
  }
}
.form__description {
  color: #000000;
  font-size: 24px;
  line-height: 26px;
}
.form__description--contacts {
  margin-bottom: 35px;
}
.form__description--comment {
  margin-bottom: 38px;
}
.form__description--optional {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__description {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
  }
  .form__description--contacts {
    margin-bottom: 76px;
  }
  .form__description--comment {
    margin-bottom: 87px;
  }
  .form__description--optional {
    margin-bottom: 57px;
  }
}
.from__item-container {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 13px;
  align-items: baseline;
}
.form__label {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
}
.form__label--radio {
  min-height: 30px;
  padding-left: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .form__label--radio {
    min-height: 40px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.form__label--checkbox {
  min-height: 30px;
  padding-left: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .form__label--checkbox {
    min-height: 40px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .form__label {
    color: #444444;
    font-size: 20px;
    line-height: 30px;
  }
}
.form__control::placeholder {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  opacity: 1;
}
@media (min-width: 768px) {
  .form__control::placeholder {
    color: #444444;
    font-size: 20px;
    line-height: 30px;
  }
}
.form__control[type="text"] {
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-transform: uppercase;
  padding: 14px 15px 13px;
  outline: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form__control[type="text"] {
    padding: 11px 20px;
    min-height: 52px;
  }
}
.form__control[type="email"] {
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-transform: uppercase;
  padding: 14px 15px 13px;
  outline: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form__control[type="email"] {
    padding: 11px 20px;
    min-height: 52px;
  }
}
.form__control.textarea {
  resize: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-transform: uppercase;
  outline: 1px solid #e7e7e7;
  padding: 14px;
  min-width: 280px;
  min-height: 150px;
  opacity: 1;
}
@media (min-width: 768px) {
  .form__control.textarea {
    padding: 11px 20px;
    min-width: 100%;
    min-height: 175px;
  }
}
@media (min-width: 1440px) {
  .form__control.textarea {
    padding: 9px 20px;
  }
}
.form__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  left: 0;
  top: 0;
}
.form__control-mark--radio {
  border-radius: 100%;
}
@media (min-width: 768px) {
  .form__control-mark {
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
  }
}
.form__control[type="radio"]:checked + .form__control-mark::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #68b738;
  top: 7.5px;
  left: 7.5px;
}
@media (min-width: 768px) {
  .form__control[type="radio"]:checked + .form__control-mark::before {
    height: 18px;
    width: 18px;
    top: 10px;
    left: 10px;
  }
}
.form__control[type="checkbox"]:checked + .form__control-mark {
  background-image: url("../img/checkmark-mobile.svg");
  background-size: 18px 14px;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (min-width: 768px) {
  .form__control[type="checkbox"]:checked + .form__control-mark {
    background-size: 24px 19px;
  }
}
.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 13px;
}
@media (min-width: 768px) {
  .form__list {
    grid-template-columns: repeat(2, 284px);
    column-gap: 60px;
    row-gap: 32px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1440px) {
  .form__list {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 60px;
  }
}
.form_footer-wrapper {
  display: grid;
  gap: 21px;
}
@media (min-width: 768px) {
  .form_footer-wrapper {
    grid-template-columns: repeat(2, 284px);
    column-gap: 60px;
    row-gap: 22px;
  }
}
@media (min-width: 1440px) {
  .form_footer-wrapper {
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    row-gap: 60px;
  }
}
.form__submit {
  min-width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__submit {
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    min-height: 54px;
    min-width: 284px;
    margin: 0;
  }
}
.form__note-text {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .form__note-text {
    color: #000000;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    align-self: center;
  }
}
.navigation-form__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
}
/* .navigation-form__list {
  display: none;
} */
.navigation-form__logo {
  display: flex;
  align-items: center;
}
.navigation-form__button {
  display: grid;
  place-items: center;
  height: 24px;
  width: 24px;
  border: none;
  background-image: url("../../img/nav-button-open.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-color: transparent;
}
.header-form {
  max-width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
.programm-selecting__container {
  max-width: 320px;
  margin: 0 auto;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .programm-selecting__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .programm-selecting__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    padding-bottom: 79px;
  }
}
.programm-selecting__title {
  margin: 0 0 37px;
  padding: 0 20px;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .programm-selecting__title {
    margin: 0 0 54px;
    padding: 0 40px;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .programm-selecting__title {
    margin: 0 0 55px;
    padding: 0;
  }
}
.programm-selecting__description {
  margin: 0 0 39px;
  padding: 0 20px;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 280px;
}
@media (min-width: 768px) {
  .programm-selecting__description {
    margin: 0 0 66px;
    padding: 0 0 0 40px;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    max-width: 363px;
  }
}
@media (min-width: 1440px) {
  .programm-selecting__description {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .programm-selecting__form {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .programm-selecting__form {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .contacts-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */
