.footer-icon-states:hover {
  color: #68b738;
}
.footer-icon-states:active {
  color: #68b738;
  opacity: 0.3;
}
.show-more-card-icon {
  content: "";
  position: absolute;
  background-color: #d3d3d3;
  width: 30px;
  top: 15px;
  left: 50%;
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #222222;
  background-color: #ffffff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page__body {
  margin: 0 auto;
}
.main--catalog {
  overflow: hidden;
}
.header {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .header {
    min-width: 704px;
  }
}
@media (min-width: 1440px) {
  .header {
    min-width: 1220px;
  }
}
@media (min-width: 768px) {
  .header__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
    padding-top: 25px;
  }
}
@media (min-width: 1440px) {
  .header__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    padding-top: 55px;
  }
}
@media (min-width: 768px) {
  .header__navigation {
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .header__navigation {
    min-height: 59px;
  }
}
.header__navigation-list {
  align-self: end;
}
.header__navigation-logo {
  display: flex;
  align-items: center;
}
@media (min-width: 1440px) {
  .header__navigation-logo {
    z-index: 4;
  }
}
.header__navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__navigation-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 320px;
    padding-top: 13px;
    padding-bottom: 14px;
  }
}
.header__navigation--closed .header__navigation-button {
  position: relative;
  height: 18px;
  width: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.header__navigation--closed .header__navigation-button::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #000000;
  top: 0;
  left: 0;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.header__navigation--opened .header__navigation-button {
  position: relative;
  height: 18px;
  width: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.header__navigation--opened .header__navigation-button::before,
.header__navigation--opened .header__navigation-button::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  top: 8px;
  left: -3px;
}
.header__navigation--opened .header__navigation-button::before {
  transform: rotate(47deg);
}
.header__navigation--opened .header__navigation-button::after {
  transform: rotate(-47deg);
}
@media (max-width: 767px) {
  .header__navigation--closed .header__navigation-list {
    display: none;
  }
}
@media (max-width: 767px) {
  .header__navigation--opened .header__navigation-list {
    position: absolute;
    z-index: 6;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .header__navigation-button {
    display: none;
  }
}
.header__navigation--nojs .header__navigation-button {
  display: none;
}
.header__navigation--nojs .header__navigation-list {
  position: static;
}
@media (min-width: 768px) {
  .logo-icon img {
    width: 60px;
    height: 50px;
  }
}
@media (min-width: 1440px) {
  .logo-icon img {
    width: 70px;
    height: 59px;
  }
}
.logo-icon[href] img:hover {
  opacity: 0.8;
}
.logo-icon[href] img:active {
  opacity: 0.6;
}
.logo-icon__container {
  margin-right: 56px;
}
@media (min-width: 768px) {
  .logo-icon__container {
    margin-right: 13px;
  }
}
@media (min-width: 1440px) {
  .logo-icon__container {
    margin-right: 14px;
  }
}
.logo-text img {
  display: block;
}
@media (min-width: 1440px) {
  .logo-text img {
    width: 118px;
    height: 21px;
  }
}
.logo-text[href] img:hover {
  opacity: 0.8;
}
.logo-text[href] img:active {
  opacity: 0.6;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .navigation {
    display: flex;
    z-index: 10;
  }
}
@media (min-width: 1440px) {
  .navigation {
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 33px;
  }
}
@media (min-width: 768px) {
  .navigation__item a[href]:hover {
    opacity: 0.6;
  }
  .navigation__item a[href]:active {
    opacity: 0.3;
  }
}
.navigation__link {
  display: block;
  text-align: center;
  padding: 22px 10px 24px;
  min-width: 320px;
  min-height: 66px;
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}
.navigation__link--last-item {
  border-bottom: 1px solid #e6e6e6;
}
.navigation__link--catalog-border {
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .navigation__link {
    padding: 0 0 10px;
    font-size: 18px;
    line-height: 24px;
    min-width: max-content;
    min-height: min-content;
    border: none;
  }
  .navigation__link--current {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .navigation__link {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
  }
  .navigation__link--current .navigation__link--index {
    color: #ffffff;
  }
  .navigation__link--index {
    color: #ffffff;
    border-color: #ffffff;
  }
}
.promo {
  position: relative;
  padding: 27px 0 20px;
}
@media (max-width: 767px) {
  .promo::before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 302px;
    top: 0;
    background-color: rgba(104, 183, 56, 0.85);
  }
  .promo::after {
    content: "";
    position: absolute;
    z-index: 1;
    height: 302px;
    width: 100%;
    top: 0;
    background-image: url("../img/index-promo-bg-mobile.jpg");
    background-position: top center;
    background-size: 100% auto;
  }
}
@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 2dppx) {
  .promo::after {
    background-image: url("../img/index-promo-bg-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .promo {
    padding: 65px 0 0;
  }
}
@media (min-width: 1440px) {
  .promo {
    position: static;
    padding: 29px 0 82px;
  }
  .promo::before {
    content: "";
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 694px;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%);
  }
  .promo::after {
    z-index: 2;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 694px;
    background-image: url("../img/index-bgimage-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}
.promo__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
  display: grid;
}
@media (min-width: 768px) {
  .promo__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .promo__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    grid-template-columns: 447px 47px 552px;
    grid-template-rows: 81px auto 54px 184px;
  }
}
.promo__text-description {
  z-index: 2;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__text-description {
    max-width: 416px;
    text-align: left;
    margin-left: 90px;
    order: 1;
  }
}
@media (min-width: 1440px) {
  .promo__text-description {
    z-index: 4;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin: 0 0 52px;
    margin-left: 80px;
  }
}
.promo__headline {
  margin: 0 0 25px;
  padding: 0;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__headline {
    margin: 0 0 40px;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
.promo__catchphrase {
  margin: 0 0 29px;
  padding: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__catchphrase {
    margin: 0 0 50px;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .promo__catchphrase {
    margin: 0;
  }
}
.promo__product-photo-container {
  z-index: 2;
  margin: 0;
  padding: 0 0 3px;
}
@media (min-width: 768px) {
  .promo__product-photo-container {
    min-height: 609px;
    order: 2;
    margin-top: -83px;
  }
}
@media (min-width: 1440px) {
  .promo__product-photo-container {
    z-index: 4;
    margin-top: 0;
    min-height: 499px;
    min-width: 522px;
    grid-column: 2 / 4;
    grid-row: 1 / 6;
  }
}
.promo__product-photo {
  display: block;
}
@media (min-width: 768px) {
  .promo__product-photo {
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1440px) {
  .promo__product-photo {
    width: 552px;
    height: 499px;
  }
}
.promo__button {
  z-index: 2;
  margin: 0;
  padding: 5px 5px;
}
@media (min-width: 768px) {
  .promo__button {
    z-index: 3;
    position: relative;
    max-width: 244px;
    margin-left: 90px;
    order: 1;
  }
}
@media (min-width: 1440px) {
  .promo__button {
    font-weight: 400;
    min-width: 244px;
    margin-left: 80px;
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    align-self: start;
  }
}
.button {
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #68b738;
  min-height: 40px;
  display: grid;
  place-items: center;
  border: none;
}
.button--promo {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  min-height: 54px;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.button--show-all {
  color: #444444;
  background-color: #f2f2f2;
}
.button--show-all:hover,
.button--show-all:active {
  color: #444444;
  background-color: #ebebeb;
}
.programms {
  padding: 0 0 49px;
}
@media (min-width: 768px) {
  .programms {
    padding: 0 0 45px;
  }
}
@media (min-width: 1440px) {
  .programms {
    padding: 0 0 71px;
  }
}
.programms__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .programms__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .programms__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
  }
}
.programms__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .programms__list {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .programms__list {
    flex-direction: row;
    gap: 80px;
  }
}
.programm {
  background-color: #f2f2f2;
  padding: 30px 20px 20px;
}
@media (min-width: 768px) {
  .programm {
    padding: 77px 63px 53px 52px;
    min-height: 372px;
  }
}
@media (min-width: 1440px) {
  .programm {
    min-height: 374px;
    min-width: 570px;
  }
}
.programm__title {
  position: relative;
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  margin: 0 0 29px;
  padding: 0 0 0 70px;
  font-weight: 400;
  text-transform: uppercase;
}
.programm__title--slim::after {
  content: "";
  position: absolute;
  background-image: url("../img/programm-tablet-slim-icon.svg");
  transform: scale(0.26);
  background-repeat: no-repeat;
  width: 140px;
  height: 194px;
  z-index: 2;
  left: -45px;
  top: -80px;
}
.programm__title--gain::after {
  content: "";
  position: absolute;
  background-image: url("../img/programm-tablet-gain-icon.svg");
  background-repeat: no-repeat;
  transform: scale(0.25);
  width: 268px;
  height: 112px;
  z-index: 2;
  right: 82px;
  top: -38px;
}
.programm__title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  left: 0;
  top: -5px;
}
@media (min-width: 768px) {
  .programm__title {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px;
    padding: 0;
  }
  .programm__title--slim::after {
    transform: scale(1);
    left: auto;
    right: 20px;
    top: 0;
  }
  .programm__title--gain::after {
    transform: scale(1);
    left: auto;
    right: -34px;
    top: 54px;
  }
  .programm__title::before {
    width: 200px;
    height: 200px;
    left: auto;
    right: 0;
    top: 0;
  }
}
@media (min-width: 1440px) {
  .programm__title {
    margin: 0 0 73px;
    padding: 0 0 0 162px;
  }
  .programm__title::before {
    width: 100px;
    height: 100px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .programm__title--slim::after {
    transform: scale(0.5);
    left: -18px;
    top: -85px;
  }
  .programm__title--gain::after {
    transform: scale(0.5);
    left: -85px;
    top: -36px;
  }
}
.programm__description {
  font-family: "Lato", sans-serif;
  margin: 0 0 15px;
  padding: 0 0 23px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .programm__description {
    border: none;
    max-width: 342px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 48px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .programm__description {
    margin: 0 0 23px;
    max-width: 460px;
  }
}
.to-catalog-link {
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 4px 47px 4px 0;
  background-image: url("../img/programm-link-arrow-icon.svg");
  background-position: center right;
  background-repeat: no-repeat;
}
.to-catalog-link:hover {
  background-image: url("../img/programm-link-arrow-icon-hover.svg");
}
.to-catalog-link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .to-catalog-link {
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    padding: 4px 57px 4px 0;
  }
}
.working-principle {
  padding: 0 0 49px;
}
@media (min-width: 768px) {
  .working-principle {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 0 47px;
  }
}
@media (min-width: 1440px) {
  .working-principle {
    border: none;
    padding: 0 0 69px;
  }
}
.working-principle__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .working-principle__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .working-principle__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
  }
}
.working-principle__title {
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;
  padding: 0;
}
@media (min-width: 768px) {
  .working-principle__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 32px;
    padding: 0;
  }
}
.working-principle__list {
  counter-reset: number 0;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 24px;
}
@media (min-width: 768px) {
  .working-principle__list {
    padding-bottom: 47px;
    grid-template-columns: repeat(2, 246px);
    row-gap: 37px;
    column-gap: 137px;
  }
}
@media (min-width: 1440px) {
  .working-principle__list {
    grid-template-columns: repeat(4, 246px);
    column-gap: 79px;
  }
}
.working-principle__text {
  position: relative;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0 0 0 80px;
}
.working-principle__text::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.working-principle__text--nutrition::after {
  content: "";
  position: absolute;
  background-image: url("../img/how-work-icon-nutrition.svg");
  width: 30px;
  height: 32px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}
.working-principle__text--form::after {
  content: "";
  position: absolute;
  background-image: url("../img/how-work-icon-form.svg");
  width: 30px;
  height: 32px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}
.working-principle__text--eating::after {
  content: "";
  position: absolute;
  background-image: url("../img/how-work-icon-eating.svg");
  width: 30px;
  height: 32px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}
.working-principle__text--result::after {
  content: "";
  position: absolute;
  background-image: url("../img/how-work-icon-result.svg");
  width: 30px;
  height: 32px;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .working-principle__text {
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    min-height: 280px;
    margin: 0;
    padding: 151px 0 57px;
  }
  .working-principle__text::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #68b738;
    left: 0;
    top: 80px;
    transform: translateY(-50%);
  }
  .working-principle__text--nutrition::after {
    top: 80px;
    left: 25px;
    transform: translateY(-50%);
  }
  .working-principle__text--form::after {
    top: 80px;
    left: 25px;
    transform: translateY(-50%);
  }
  .working-principle__text--eating::after {
    top: 80px;
    left: 25px;
    transform: translateY(-50%);
  }
  .working-principle__text--result::after {
    top: 80px;
    left: 25px;
    transform: translateY(-50%);
  }
}
.working-principle__item {
  position: relative;
  counter-increment: number 1;
}
@media (min-width: 768px) {
  .working-principle__item::before {
    content: counter(number);
    position: absolute;
    font-family: "Oswald", sans-serif;
    color: #f2f2f2;
    font-size: 280px;
    line-height: 280px;
    bottom: 0;
    right: 0;
  }
}
.example {
  background-color: #eaeaea;
  padding: 25px 0 40px;
}
@media (min-width: 768px) {
  .example {
    position: relative;
    background-color: #ffffff;
    padding: 45px 0 100px;
  }
  .example::before {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 462px;
    background-color: #eaeaea;
  }
}
@media (min-width: 1440px) {
  .example {
    padding: 0;
  }
  .example::before {
    background-color: #f2f2f2;
  }
}
.example__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .example__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .example__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .example__text {
    margin: 0 0 100px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    position: relative;
    z-index: 2;
    margin: 0 0 75px;
  }
}
.example__title {
  color: #000000;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 0 40px;
  padding: 0;
}
@media (min-width: 768px) {
  .example__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 60px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin: 0 0 146px;
  }
}
.example__description {
  font-family: "Lato", sans-serif;
  color: #444444;
  margin: 0 0 20px;
  padding: 0;
}
@media (min-width: 768px) {
  .example__description {
    color: #444444;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 55px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    margin: 0 0 69px;
    max-width: 436px;
  }
}
@media (min-width: 768px) {
  .example__slider {
    text-align: center;
  }
}
.result {
  text-align: center;
}
@media (min-width: 768px) {
  .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .result {
    max-width: 436px;
    flex-wrap: wrap;
  }
}
.result__highlights {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .result__highlights {
    min-width: 367px;
    margin: 0;
  }
}
.result__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 124px;
  min-height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .result__item {
    min-width: 162px;
    min-height: 77px;
  }
}
@media (min-width: 1440px) {
  .result__item {
    margin-bottom: 55px;
  }
}
.result__mark {
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  margin: 15px 0 0;
  padding: 0;
}
@media (min-width: 768px) {
  .result__mark {
    color: #000000;
    font-size: 30px;
    line-height: 37px;
  }
}
.result__description {
  max-width: 80px;
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 -14px;
  margin: 7px 0 -14px;
  padding: 0;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .result__description {
    max-width: 146px;
    color: #444444;
    font-size: 14px;
    line-height: 14px;
    margin: 7px 0 -6px;
    padding: 0 10px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .result__description {
    background-color: #f2f2f2;
  }
}
.result__summary {
  color: #000000;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0;
}
@media (min-width: 768px) {
  .result__summary {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    max-width: 175px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .result__summary {
    max-width: 374px;
  }
}
@media (min-width: 768px) {
  .result__summary-count {
    display: inline-block;
    margin-top: 9px;
  }
}
@media (min-width: 1440px) {
  .result__summary-count {
    margin: 0 0 0 63px;
  }
}
@media (min-width: 768px) {
  .before-after-slider {
    position: relative;
    z-index: 2;
    min-height: 512px;
  }
}
@media (min-width: 768px) {
  .before-after-slider__photo {
    width: 560px;
    height: 512px;
  }
}
.partnership {
  padding: 26px 0;
}
@media (min-width: 768px) {
  .partnership {
    padding: 60px 0;
  }
}
.partnership--catalog {
  background-color: #f2f2f2;
}
.partnership--form {
  background-color: #f2f2f2;
}
@media (min-width: 1440px) {
  .partnership {
    max-width: 1220px;
    position: relative;
    margin: 0 auto;
    padding: 0;
  }
}
.partnership__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .partnership__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .partnership__container {
    background-color: #ffffff;
    position: absolute;
    padding: 60px 80px;
    min-width: 565px;
    z-index: 1;
    left: 0;
    transform: translateY(50%);
  }
}
.partnership__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .partnership__content {
    padding: 0 40px;
    min-height: 80px;
  }
}
@media (min-width: 1440px) {
  .partnership__content {
    padding: 0;
  }
}
.partnership__content-title {
  margin: 0;
  padding: 0;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 140px;
}
@media (min-width: 768px) {
  .partnership__content-title {
    max-width: 167px;
    color: #111111;
    font-size: 20px;
    line-height: 26px;
  }
}
.partnership__content-address {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  max-width: 140px;
}
@media (min-width: 768px) {
  .partnership__content-address {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    max-width: 160px;
  }
}
@media (min-width: 1440px) {
  .partnership__content-address {
    text-align: left;
  }
}
@media (min-width: 768px) {
  .partnership__content-address-city {
    margin-top: 5px;
  }
}
.location__container {
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .location__container {
    position: relative;
  }
}
.location__map {
  width: 100%;
  display: block;
  min-height: 362px;
}
@media (min-width: 768px) {
  .location__map {
    min-height: 400px;
  }
}
@media (max-width: 1440px) {
  .location__map--nojs {
    display: none;
  }
}
.location__noscript-photo {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 1440px) {
  .location__noscript-photo {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.footer {
  background-color: #f2f2f2;
}
.footer__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 55px;
    padding-bottom: 55px;
  }
}
@media (min-width: 1440px) {
  .footer__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    padding-top: 66px;
    padding-bottom: 66px;
  }
}
.footer__logo {
  margin: 40px 0 20px;
}
@media (min-width: 768px) {
  .footer__logo {
    margin: 0;
  }
}
.footer__social {
  margin: 20px 0;
  padding: 0;
}
@media (min-width: 768px) {
  .footer__social {
    margin: 0;
    padding: 0;
  }
}
.footer__developer {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__developer {
    margin: 0;
    padding: 0;
    min-height: 37px;
  }
}
.footer-logo svg {
  display: block;
  color: #111111;
}
.footer-logo svg:hover {
  color: #3e3e3e;
}
.footer-logo svg:active {
  color: #6b6b6b;
}
.social-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 28px);
  gap: 24px;
  align-items: center;
}
.social-list__item {
  display: grid;
  place-items: center;
}
.social-list__link svg {
  color: #666666;
}
.social-list__link svg:hover {
  color: #68b738;
}
.social-list__link svg:active {
  color: #68b738;
  opacity: 0.3;
}
.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .developer {
    min-width: 168px;
  }
}
.developer-name__contariner {
  margin-left: 5px;
}
.developer__name:hover {
  color: #444444;
}
.developer__name:active {
  opacity: 0.3;
}
.developer-logo__contariner svg {
  display: block;
  color: #666666;
}
.developer-logo__contariner svg:hover {
  color: #68b738;
}
.developer-logo__contariner svg:active {
  color: #68b738;
  opacity: 0.3;
}
.developer-name {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}
.catalog-page__body {
  margin: 0 auto;
}
.catalog {
  padding: 25px 0 0;
}
@media (min-width: 768px) {
  .catalog {
    padding: 65px 0 70px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    padding: 74px 0 76px;
  }
}
@media (min-width: 768px) {
  .catalog__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .catalog__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
  }
}
.catalog__title {
  max-width: 320px;
  margin: 0 auto 40px;
  padding: 0 0 0 20px;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .catalog__title {
    max-width: 705px;
    margin: 0 0 84px;
    padding: 0;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}
.catalog__item {
  border-top: 1px solid #ebebeb;
}
.catalog__item--last-item {
  margin-top: 82px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .catalog__item {
    border: none;
  }
}
.product {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .product {
    min-height: 511px;
    background-image: linear-gradient(to top, #f2f2f2 432px, #ffffff 430px);
  }
}
.product__container {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 20px 25px;
}
@media (min-width: 768px) {
  .product__container {
    max-width: 324px;
    padding: 0 37px 40px;
  }
}
@media (min-width: 1440px) {
  .product__container {
    max-width: 245px;
    padding: 0 38px 40px;
  }
}
@media (min-width: 768px) {
  .product__container--show-more-card {
    border: 2px solid #f2f2f2;
    padding: 50px 37px 40px;
  }
}
@media (min-width: 1440px) {
  .product__container--show-more-card {
    padding: 60px 37px 40px;
  }
}
.product__container-content {
  display: flex;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .product__container-content {
    min-width: 250px;
    flex-direction: column;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .product__container-content {
    min-width: 169px;
  }
}
.product__photo-container {
  display: grid;
  place-items: center;
  min-width: 140px;
}
@media (min-width: 768px) {
  .product__photo-container {
    min-width: 200px;
    min-height: 210px;
    margin: 10px 0 22px;
  }
}
@media (min-width: 1440px) {
  .product__photo-container {
    min-width: 169px;
  }
}
.product__title {
  margin: 0 0 14px;
  padding: 0;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  max-width: 80px;
}
@media (min-width: 768px) {
  .product__title {
    max-width: 135px;
    margin: 0 auto 21px;
    color: #444444;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
.product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .product__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
.product__option {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
  min-width: 140px;
}
@media (min-width: 768px) {
  .product__option {
    padding: 0 0 5px;
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.product__option-title {
  max-width: 70px;
  justify-self: start;
}
.product__option-text {
  max-width: 70px;
  justify-self: end;
}
@media (min-width: 768px) {
  .show-more-card {
    min-height: 429px;
  }
}
.show-more-card__title {
  position: relative;
  margin: 0 0 8px;
  padding: 53px 0 0;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.show-more-card__title::before {
  content: "";
  position: absolute;
  background-color: #d3d3d3;
  width: 30px;
  top: 15px;
  left: 50%;
  height: 2px;
  transform: translateX(-50%);
}
.show-more-card__title::after {
  content: "";
  position: absolute;
  background-color: #d3d3d3;
  width: 30px;
  top: 15px;
  left: 50%;
  height: 2px;
  transform: translateX(-50%) rotate(90deg);
}
@media (min-width: 768px) {
  .show-more-card__title {
    color: #111111;
    font-size: 20px;
    line-height: 24px;
    max-width: 140px;
    padding: 110px 0 0;
    margin: 0 auto 23px;
  }
  .show-more-card__title::before {
    left: 50px;
    transform: scale(2);
  }
  .show-more-card__title::after {
    left: 50px;
    transform: rotate(90deg) scale(2);
  }
}
@media (min-width: 1440px) {
  .show-more-card__title {
    padding: 100px 0 0;
  }
}
.show-more-card__description {
  font-family: "Lato", sans-serif;
  margin: 0 0 21px;
  padding: 0;
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .show-more-card__description {
    color: #111111;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto 82px;
    max-width: 170px;
  }
}
.optional-products {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .optional-products {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .optional-products {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    padding-bottom: 87px;
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 80px;
  }
}
.optional-products__container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .optional-products__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
  }
}
@media (min-width: 1440px) {
  .optional-products__container {
    margin: 0;
    padding: 0;
    max-width: 896px;
  }
}
.optional-products__title {
  margin: 0 0 36px;
  padding: 0;
  color: #000000;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .optional-products__title {
    margin: 0 0 80px;
    color: #000000;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .optional-products__title {
    margin: 0 0 80px;
  }
}
.optional-products__title--line-decor {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 20px 0 0;
}
.optional-products__title--line-decor::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  top: 50%;
  left: 0;
}
@media (min-width: 768px) {
  .optional-products__title--line-decor {
    padding: 0 40px;
  }
  .optional-products__title--line-decor::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 2px;
    background-color: #68b738;
    top: 50%;
    right: 0;
  }
}
@media (min-width: 1440px) {
  .optional-products__title--line-decor {
    margin-left: -40px;
  }
}
.optional-products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.optional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .optional-products__item {
    padding: 26px 38px;
    display: grid;
    grid-template-columns: repeat(2, 280px);
    column-gap: 72px;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .optional-products__item {
    padding: 15px 0 16px;
    grid-template-columns: 305px 305px 245px;
    column-gap: 20px;
  }
}
.optional-products__item--last-item {
  border-bottom: 1px solid #cdcdcd;
}
.optional-products__name {
  margin: 0 0 13px;
  padding: 0;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .optional-products__name {
    color: #222222;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .optional-products__name {
    margin: 0;
  }
}
.optional-products__description {
  font-family: "Lato", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 15px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5px;
}
@media (min-width: 768px) {
  .optional-products__description {
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    display: grid;
    grid-template-columns: 192px 78px;
    gap: 10px;
  }
}
@media (min-width: 1440px) {
  .optional-products__description {
    margin: 0;
    grid-template-columns: 204px 60px;
    column-gap: 20px;
  }
}
@media (min-width: 768px) {
  .optional-products__description-title {
    justify-self: end;
  }
}
@media (min-width: 1440px) {
  .optional-products__description-title {
    justify-self: start;
  }
}
.optional-products__description-text {
  justify-self: end;
}
.optional-products__button {
  grid-column: 1 / 3;
}
@media (min-width: 1440px) {
  .optional-products__button {
    grid-column: 3 / 4;
  }
}
.gift {
  padding: 35px 0 35px;
}
@media (min-width: 768px) {
  .gift {
    padding: 70px 0 75px;
  }
}
@media (min-width: 1440px) {
  .gift {
    padding: 0;
    align-self: end;
  }
}
.gift__container {
  position: relative;
  min-height: 290px;
  max-width: 280px;
  margin: 0 auto;
  background-color: rgba(104, 183, 56, 0.85);
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .gift__container {
    align-items: center;
    justify-content: end;
    min-height: 200px;
    min-width: 707px;
  }
}
@media (min-width: 1440px) {
  .gift__container {
    justify-content: center;
    align-items: start;
    min-height: 288px;
    min-width: 245px;
  }
}
.gift__image-container {
  position: absolute;
  background-image: url("../img/cat-case-mobile.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .gift__image-container {
    background-image: url("../img/cat-case-mobile@2x.jpg");
  }
}
@media (min-width: 768px) {
  .gift__image-container {
    background-image: url("../img/cat-case-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .gift__image-container {
    background-image: url("../img/cat-case-tablet@2x.jpg");
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .gift__image-container {
    background-image: url("../img/cat-case-desktop.jpg");
  }
}
@media (min-width: 768px) and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-width: 1440px) and (min-resolution: 2dppx) {
  .gift__image-container {
    background-image: url("../img/cat-case-desktop@2x.jpg");
  }
}
.gift__description {
  z-index: 2;
  margin: 187px 0 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  max-width: 160px;
  text-align: center;
  bottom: 43px;
}
.gift__description::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 80px;
  background-image: url("../img/gift-icon-mobile.svg");
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .gift__description {
    margin: 0 125px 0 0;
    padding: 0;
    text-align: left;
  }
  .gift__description::before {
    left: 116px;
  }
}
@media (min-width: 1440px) {
  .gift__description {
    margin: 185px 0 0;
    padding: 0;
    text-align: center;
  }
}
.form__body {
  margin: 0 auto;
}
.form__fieldset-general-wrapper {
  margin: 0 auto;
}
@media (min-width: 1440px) {
  .form__fieldset-general-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    margin-bottom: 70px;
  }
}
.form__fieldset {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;
  padding: 0 20px;
  gap: 14px;
  display: grid;
}
.form__fieldset--general {
  padding-bottom: 24px;
}
.form__fieldset--programm {
  padding: 25px 20px 19px;
}
.form__fieldset--contacts {
  margin-top: 26px;
  padding-bottom: 24px;
}
.form__fieldset--comment {
  margin-top: 24px;
  padding-bottom: 23px;
  border: none;
}
.form__fieldset--optional {
  padding-bottom: 34px;
  border: none;
}
@media (min-width: 768px) {
  .form__fieldset {
    gap: 20px;
    border: none;
    margin: 0;
    padding: 0;
  }
  .form__fieldset--general {
    margin-bottom: 72px;
  }
  .form__fieldset--programm {
    border: 1px solid #e7e7e7;
    padding: 23px 27px 27px;
    gap: 12px;
  }
  .form__fieldset--contacts {
    margin-top: 65px;
  }
  .form__fieldset--comment {
    margin-top: 65px;
  }
  .form__fieldset--optional {
    margin-top: 65px;
  }
}
@media (min-width: 1440px) {
  .form__fieldset--general {
    margin-bottom: 0;
  }
  .form__fieldset--programm {
    border: 1px solid #e7e7e7;
  }
  .form__fieldset--contacts {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    margin-top: 65px;
  }
  .form__fieldset--comment {
    margin-top: 65px;
  }
  .form__fieldset--optional {
    margin-top: 65px;
  }
}
.form__description--line-decor {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  padding: 0 20px 0 0;
}
.form__description--line-decor::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 2px;
  background-color: #68b738;
  top: 50%;
  left: 0;
}
@media (max-width: 767px) {
  .form__description--line-decor::after {
    top: 18px;
  }
}
@media (min-width: 768px) {
  .form__description--line-decor {
    margin-left: -40px;
  }
}
.form__description {
  color: #000000;
  font-size: 24px;
  line-height: 26px;
}
.form__description--contacts {
  max-width: 202px;
  margin-bottom: 35px;
}
.form__description--comment {
  margin-bottom: 38px;
}
.form__description--optional {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__description {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
    padding: 0 40px;
  }
  .form__description::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 2px;
    background-color: #68b738;
    top: 50%;
    right: 0;
  }
  .form__description--contacts {
    max-width: none;
    margin-bottom: 76px;
  }
  .form__description--comment {
    margin-bottom: 87px;
  }
  .form__description--optional {
    margin-bottom: 57px;
  }
}
.from__item-container {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 13px;
  align-items: baseline;
  position: relative;
}
.form__label {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
}
.form__label--radio {
  min-height: 30px;
  padding-left: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .form__label--radio {
    min-height: 40px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.form__label--checkbox {
  min-height: 30px;
  padding-left: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 768px) {
  .form__label--checkbox {
    min-height: 40px;
    padding-left: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .form__label {
    color: #444444;
    font-size: 20px;
    line-height: 30px;
  }
}
.form__control::placeholder {
  color: #444444;
  font-size: 16px;
  line-height: 18px;
  opacity: 1;
}
@media (min-width: 768px) {
  .form__control::placeholder {
    color: #444444;
    font-size: 20px;
    line-height: 30px;
  }
}
.form__control[type="text"] {
  font-family: inherit;
  text-transform: uppercase;
  padding: 14px 15px 13px;
  border: 1px solid #e7e7e7;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__control[type="text"] {
    padding: 11px 20px;
    min-height: 52px;
    font-size: 20px;
    line-height: 30px;
  }
}
.form__control[type="email"] {
  font-family: inherit;
  text-transform: uppercase;
  padding: 14px 15px 13px;
  border: 1px solid #e7e7e7;
  color: #444444;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__control[type="email"] {
    padding: 11px 20px;
    font-size: 20px;
    line-height: 30px;
    min-height: 52px;
  }
}
@media (min-width: 1440px) {
  .form__control[type="email"] {
    font-size: 20px;
    line-height: 30px;
  }
}
.form__control.textarea {
  resize: none;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  padding: 14px;
  min-width: 280px;
  min-height: 150px;
  opacity: 1;
}
@media (min-width: 768px) {
  .form__control.textarea {
    padding: 11px 20px;
    min-width: 100%;
    min-height: 175px;
  }
}
@media (min-width: 1440px) {
  .form__control.textarea {
    padding: 9px 20px;
  }
}
.form__control-icon {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: #222222;
}
.form__control-icon--phone {
  right: 14.5px;
}
.form__control:hover {
  border-color: #cdcdcd;
}
.form__control:focus-visible {
  outline: 1px solid #444444;
  border-color: #444444;
}
.form__control:focus-visible:invalid {
  outline: 1px solid #ff8282;
  border-color: #ff8282;
}
.form__control:focus + svg {
  color: #68b738;
}
.form__control:focus:invalid + svg {
  color: #ff8282;
}
.form__control[type="radio"]:disabled + .form__control-mark {
  opacity: 0.3;
}
.form__control[type="radio"]:disabled ~ .form__control-label {
  opacity: 0.3;
}
.form__control[type="checkbox"]:disabled + .form__control-mark {
  opacity: 0.3;
}
.form__control[type="checkbox"]:disabled ~ .form__control-label {
  opacity: 0.3;
}
.form__control-mark {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  left: 0;
  top: 0;
}
.form__control-mark--radio {
  border-radius: 100%;
}
.form__control-mark:hover {
  border-color: #bababa;
}
@media (min-width: 768px) {
  .form__control-mark {
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
  }
}
.form__control[type="radio"]:checked + .form__control-mark::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: #68b738;
  top: 7.5px;
  left: 7.5px;
}
@media (min-width: 768px) {
  .form__control[type="radio"]:checked + .form__control-mark::before {
    height: 18px;
    width: 18px;
    top: 10px;
    left: 10px;
  }
}
.form__control[type="checkbox"]:checked + .form__control-mark {
  background-image: url("../img/checkmark-mobile.svg");
  background-size: 18px 14px;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (min-width: 768px) {
  .form__control[type="checkbox"]:checked + .form__control-mark {
    background-size: 24px 19px;
  }
}
.form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 13px;
}
@media (min-width: 768px) {
  .form__list {
    grid-template-columns: repeat(2, 284px);
    column-gap: 60px;
    row-gap: 32px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1440px) {
  .form__list {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 60px;
  }
}
.form_footer-wrapper {
  display: grid;
  gap: 21px;
}
@media (min-width: 768px) {
  .form_footer-wrapper {
    grid-template-columns: repeat(2, 284px);
    column-gap: 60px;
    row-gap: 22px;
  }
}
@media (min-width: 1440px) {
  .form_footer-wrapper {
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    row-gap: 60px;
  }
}
.form__submit {
  min-width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__submit {
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    min-height: 54px;
    min-width: 284px;
    margin: 0;
  }
}
.form__note-text {
  font-family: "Lato", sans-serif;
  color: #000000;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .form__note-text {
    color: #000000;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    align-self: center;
  }
}
.programm-selecting {
  padding-top: 27px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .programm-selecting {
    padding-top: 65px;
  }
}
@media (min-width: 1440px) {
  .programm-selecting {
    padding-top: 74px;
  }
}
.programm-selecting__container {
  max-width: 320px;
  margin: 0 auto;
  padding-bottom: 32px;
}
@media (min-width: 768px) {
  .programm-selecting__container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 768px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .programm-selecting__container {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1440px;
    padding-bottom: 79px;
  }
}
.programm-selecting__title {
  margin: 0 0 37px;
  padding: 0 20px;
  color: #000000;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .programm-selecting__title {
    margin: 0 0 54px;
    padding: 0 40px;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .programm-selecting__title {
    margin: 0 0 55px;
    padding: 0;
  }
}
.programm-selecting__description {
  margin: 0 0 39px;
  padding: 0 20px;
  color: #000000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 280px;
}
@media (min-width: 768px) {
  .programm-selecting__description {
    margin: 0 0 66px;
    padding: 0 0 0 40px;
    color: #000000;
    font-size: 20px;
    line-height: 30px;
    max-width: 363px;
  }
}
@media (min-width: 1440px) {
  .programm-selecting__description {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .programm-selecting__form {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .programm-selecting__form {
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .contacts-wrapper {
    /* margin: 0 auto;
    max-width: 1440px; */
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */
